
.blog{
	margin-top: 14%; border-top:2px solid #eee; 
}

.b10{
	border-right: 2px solid #eee;
}

.links{
	width:70% ; margin-bottom:3%; font-size: 90%; 
}

.aa{
color: black; opacity: 0.8;
}

.questions{
	margin-left: 10%;
	width:85%; margin-top: 9%;
}

.ac{
color: black; opacity: 0.8; 
}

.ab{
	font-size: 180%;
	color: black; opacity: 0.8; 
}

.links2{
	margin-top: -1%;
}
.post{

	margin-top: 3%;	

}
.no{
	margin-top: 9%;
}

.reach{
	margin-top: 0%;
}


@media only screen and (max-width: 425px) {

.post{
	margin-left: 10%; margin-top: 5%;
	
}

.logoimg{
	width:70%; height:70%;
}

	}

@media only screen and (min-width: 700px) and (max-width: 900px) {

	.questions{
	margin-left: 10%;
	width:85%; margin-top: 20%;
  }

  


}
