.container3{
	margin-top:10%; 
	margin-left:13%;

	height:450px;
	width:35%;
	position: absolute; 
	
}
.contact1{
	background:linear-gradient(110deg, rgba(0,29,105,0.7) 50%, rgba(255, 255, 255, 0) 0%), url('contact1.jpg');

	height:600px; position: relative;  background-size: cover; margin-top:13%;
	}


	.friend{
	text-align: center;
	font-size: 200%;
	color: white;
	width:20%;
   height: 20%;
   margin-left: 40%; margin-top: 12%;
}

.aboutcontent{
	margin-top: 15%;  
}

.aboutcontent1{
	text-align: center;
	font-size: 250%;
	color: white;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-weight: bold; margin-top: 2%;
		 
} 

.comment{
	width:100%; background: #eee;

}

.b5{
	color: blue;
	background: none;
	border: 2px solid blue;
	border-radius: 5px; margin-top: 3%; /*margin-left: 90%;*/
}

.para5{
	font-size: 150%; font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
}


.icon5{
	font-size:150%; color:rgba(0,29,105,0.7); margin-left: 4%;
}

.t5{
	font-size: 110%;
}

.c5{
	font-size: 90%;
}



@media only screen and (max-width: 425px) {

	.b5{
	color: blue;
	background: none;
	border: 2px solid blue;
	border-radius: 5px;
	margin-top: 3%; /*margin-left: 76%;*/
	}

	.name{
		margin-bottom: 5%;
	}

	.contact1{

  	background:linear-gradient(360deg, rgba(0,29,105,0.7) 50%, rgba(255, 255, 255, 0) 0%), url('contact1.jpg');

	height:300px; position: relative;  background-size: cover; 
  	    
  }

  .aboutcontent{
	margin-top: 1%;
		 
	}


	  .aboutcontent1{
		text-align: center;
		font-size: 200%;
		color: white;
		font-family: Comic Sans MS, Comic Sans, cursive;
		font-weight: bold; margin-top: 1%; 
			 
	} 
	.friend{
	text-align: center;
	font-size: 150%;
	color: white;
	width:20%;
   height: 20%;
   margin-left: 40%; margin-top: 2%;
	}


	.logoimg{
		width:70%; height:70%;


		}

}


@media only screen and (min-width: 425px) and (max-width: 700px) {

	.b5{
	color: blue;
	background: none;
	border: 2px solid blue;
	border-radius: 5px;
	margin-top: 3%; /*margin-left: 76%;*/
	}

	.name{
		margin-bottom: 5%;
	}

	.contact1{

  	background:linear-gradient(360deg, rgba(0,29,105,0.7) 50%, rgba(255, 255, 255, 0) 0%), url('contact1.jpg');

	height:300px; position: relative;  background-size: cover; 
  	    
  }

  .aboutcontent{
	margin-top: 1%;
		 
	}


	  .aboutcontent1{
		text-align: center;
		font-size: 200%;
		color: white;
		font-family: Comic Sans MS, Comic Sans, cursive;
		font-weight: bold; margin-top: 1%; 
			 
	} 
	.friend{
	text-align: center;
	font-size: 150%;
	color: white;
	width:20%;
   height: 20%;
   margin-left: 40%; margin-top: 2%;
	}


	.logoimg{
		width:70%; height:70%;


		}

}


@media only screen and (min-width: 700px) and (max-width: 900px) {

 .aboutcontent{
	margin-top: 50%;  
 }


}
